// Custom styles.
// 主页文章添加阴影效果
.post {
margin-top: 50px;
margin-bottom: 50px;
-webkit-box-shadow: 0 0 8px rgba(202, 203, 203, .6);
-moz-box-shadow: 0 0 8px rgba(202, 203, 204, .6);
}
body {
    background:url(/images/background.jpg)
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}
/*.main-inner {   //设置透明
    background: #fff;
    opacity: 0.8;
    min-height: auto;
}
 */

